<div class="card nopadding mt-3">
    <div class="card-header  bg-info text-center text-light">
        <strong><span class="fa fa-user-circle mr-2"></span>Sign Up</strong>
    </div>
  
    

      <div class="card-body mt-4">
        <form>
        <div class="form-group col-md-4">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" name="name" #name="ngModel" title="Enter your name" pattern="[A-Za-z\s]*" required [(ngModel)]="DriverModel.name" id="name"  title="Only alphabets allowed">
                <div *ngIf="!name.value &&name.touched " class="alert alert-danger ">
                    Field required
                </div>
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="name.invalid && name.dirty && name.value" class="alert alert-danger">
                    Alphabets allowed
                </div>
      </div>
     

   
      <div class="form-group col-md-4">
        <label for="age">Age</label>
          <input type="number" class="form-control" required id="age" min="18" max="60">
        </div>

        <div class="form-group col-md-4">
          <label for="phone_umber">Phone Number</label>
            <input type="length" class="form-control" minlength="10" maxlength="10" id="phone_number">
          </div>

          

          <div class="form-group col-md-4">
            <label for="Car_Type">Car Type</label>
            <select id="car_type" class="form-control" required>
              <option selected>Choose Car Type</option>
              <option>Bangalore</option>
              <option>New Delhi</option>
              <option>Mumbai</option>
            </select>
          </div>

    <div class="form-group col-md-4">
        <label for="vehicle_no">Vehicle No (KA03AF5435)</label>
          <input type="text" class="form-control" pattern="[A-Z]{2}[0-9]{2}[A-Z]{2}[0-9]{4}" id="vehicle_no">
        </div>

        <div class="container-fluid">
            <div class="form-group col-md-4">
              <label class="custom-file-label" for="customFile">Upload Driving License</label>
              <input type="file" class="custom-file-input" id="customFile">
            </div>
          </div>
            
          <script>
          // Code to get the name of file after uploading
          $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });
          </script>

         
          
          <div class="form-group col-md-4">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>

          <!-- <div class="form-group col-md-4">
            <label for="Password">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2">
          </div> -->

          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Sign up</button>
          </div>

         

            

          </form >
      </div>
    </div>

        

