.card {
    border: none;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.4);
}



.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.nopadding {
    
    width:30%;
    padding: 0 !important;
    margin: 0 auto;
 }

 .style {
    background: rgb(23, 202, 202);
    text-align: center;
    color:rgb(20, 196, 209);
}

.pecuniaforms{
    margin:5% 20%;
    padding :5%;
    background-color:#dbdbdb;
    border-radius: 5px;
    width : 60%
}