<!-- <div class="footer" >
    
    © 2020 Go-Cab. All rights reserved.
  </div> -->
  
  <div id="Contact" class="container-fluid bg" style="background-color: rgb(217, 223, 223);">
    <h2 class="text-center blue-heading">CONTACT US</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-4 col-lg-4 col-md-4">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="fa fa-map-marker"></span> Bangalore, Karnataka</p>
            <p><span class="fa fa-phone"></span> +91 1234567890</p>
            <p><span class="fa fa-envelope"></span> info@gocab.com</p>
        </div>
        <div class="col-sm-8 col-xs-8 col-lg-8 col-md-8">
            <form>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                  <div class="col-sm-12 form-group">
                    <button type="btn btn-submit pull-right" class="btn btn-info">Send</button>
                  </div>
                </div>
                <br>
            </form>
        </div>
     </div>
     </div>

     <footer  class="text-center" style="background-color: rgb(46, 47, 48); color: white;">
  <p>© Copyright(2020) GoCab Cab Services Pvt .Ltd</p>
    </footer>
