<div class="col">
    <h2>Available Transits</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Phone No</th>
        <th>Car Type</th>
        <th>Driver's name</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transit of transits">
            <td>9019192365</td>
            <td>{{transit.cabType}}</td>
            <td>{{transit.name}}</td>
            <td>{{transit.status}}</td>
            <td><button class="btn btn-success" 
              routerLink="/list-payment"> Book Ride</button></td>
        </tr>
      </tbody>
    </table>
    </div>