<div class="col">
    <h2 align="center"> Driver Details</h2>
    
    
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    

    <table matSort (matSortChange) = "sortDrivers($event)" matSortActive="name" matSortDirection="asc" class="table table-striped">
      <thead>
      <tr>
        <th mat-sort-header = "name">Name</th>
        <th mat-sort-header = "age">Age</th>
        <th>Ph No</th>
        <th mat-sort-header = "type">Cab Type</th>
        <th >Vehicle No</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <tr *ngFor="let driver of sortedDrivers | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{driver.name}}</td>
          <td>{{driver.age}}</td>
          <td>{{driver.phoneNumber}}</td>
          <td>{{driver.carType}}</td>
          <td>{{driver.carNumber}}</td>
          <td><button class="btn btn-danger" routerLink="/list-rider"> Delete Driver</button></td>
        </tr>
        
      </tbody>
    </table>
    </div>
    