<div class="col" >
    <h2 align="center"> Driver Details</h2>
    <div id="wrapper">
      <ul>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ul>
    </div>

    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input [(ngModel)]="searchText" placeholder="Search.." class="form-control input-lg" />
        </div>
    </div>
  
    <table matSort (matSortChange) = "sortDrivers($event)" matSortActive="name" matSortDirection='' class="table table-striped">
      <thead>
      <tr>
        <th mat-sort-header = "name">Name</th>
        <th mat-sort-header = "age">Age</th>
        <th>Ph No</th>
        <th mat-sort-header = "type">Cab Type</th>
        <th >Vehicle No</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let driver of sortedDrivers | 
        paginate: {itemsPerPage: 5, currentPage: p} | 
        FilterPipe: {name: searchText, carType:searchText, carNumber: searchText};
        let i = index;">
          <td>{{driver.name}}</td>
          <td>{{driver.age}}</td>
          <td>{{driver.phoneNumber}}</td>
          <td>{{driver.carType}}</td>
          <td>{{driver.carNumber}}</td>
          <td><button class="btn btn-danger" (click)="deleteDriver(driver, i)"> Delete Driver</button></td>
        </tr>
        
      </tbody>
    </table>
    </div>
    