.col {
    color: aliceblue;
}

.table {
    /* background-color : darkgreen; */
    color: aliceblue;
    border-radius: 1%; width:500px;
    /* position: center;    */
}

.heading{
    color: yellow;
}

#custom-search-input{

}

