<div class="card nopadding mt-3 mb-4">
    <div class="card-header  bg-info text-center text-light">
        <strong><span class="fa fa-user-circle mr-2"></span>BOOK YOUR RIDE</strong>
    </div>
<!-- Source options -->
<form (ngSubmit)="onSubmit()" #bookingForm="ngForm">

  <div class="form-group col-md-12">
    <label for="source">Source</label>
    <select id="source" class="form-control" required [(ngModel)]="booking.source"
     #source="ngModel" [ngModelOptions]="{standalone: true}">
      <option selected>Choose your source</option>
      <option>Majestic</option>
      <option>KIA</option>
      <option>Wonderla</option>
    </select>
  </div>


  <div class="form-group col-md-12">
    <label for="destination">Destination</label>
    <select id="source" class="form-control" required [(ngModel)]="booking.destination"
     #destination="ngModel" [ngModelOptions]="{standalone: true}">
      <option selected>Choose your destination</option>
      <option>WhiteField</option>
      <option>Koramangla</option>
      <option>Silk Board</option>
    </select>
  </div>


  <div class="form-group col-md-12">
    <label for="carType">Car Type</label>
    <select id="carType" class="form-control" required [(ngModel)]="booking.carType"
     #carType="ngModel" [ngModelOptions]="{standalone: true}">
      <option selected>Choose Car Type</option>
      <option>Hatchback</option>
      <option>Sedan</option>
      <option>SUV</option>
    </select>
  </div>


  <div class="d-flex justify-content-center ">
    <button type="submit" class="btn btn-info">Find My Ride</button>
  </div>
</form>
  <br>
</div>