<nav class="navbar navbar-dark bg-dark">

    <!-- Navbar content -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " routerLink="/about">Go-Cab</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/driver">Driver </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/rir"> Rider</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/transit">Transit</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="/payment">Payment</a>
      </li>


      <li class="nav-item">
        <a class="nav-link " routerLink="/login">Log in</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/list-driver">List Drivers</a>
            <a class="dropdown-item" routerLink="/list-rider">List Riders</a>
        </div>
      </li>

   </ul>

</nav>







<!-- <nav class="nav"> -->
<!-- Navbar content -->
<!-- <ul class="nav justify-content-center">
<li class="nav-item">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle"type="button"data-toggle="dropdown">Go-Cab
<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a routerLink="/about">About us</a></li>

</ul>
</div>


</li>

<li class="nav-item">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Driver
<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a routerLink="/driver">Driver Signup</a></li>

</ul>
</div>
</li>

<li class="nav-item">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle"type="button"data-toggle="dropdown">Rider
<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a  routerLink="/driver">Link1</a></li>

<li><a routerLink="/">Link2</a></li>

<li><a routerLink="/">Link3</a></li>

<li><a routerLink="/">Link4</a></li>
</ul>
</div>
</li>

<li class="nav-item">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle"type="button"data-toggle="dropdown">HelpDesk
<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a routerLink="/helpdesk">Raise ticket</a></li>

<li><a routerLink="/">View ticket</a></li>

</ul>
</div>
</li>

<li  class="nav-item">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle"type="button"data-toggle="dropdown">Reviews
<span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a routerLink="/">Show review & ratings</a></li>

<li><a routerLink="/">Add review & ratings</a></li>

</ul>
</div>
</li>


<li class="nav-item">
<a class="nav-link "routerLink="/login">Sign-up & Login</a>
</li>

</ul>
</nav> -->
