

<div class="card nopadding mt-3 mb-4">
  <div class="card-header  bg-info text-center text-light">
      <strong><span class="fa fa-user-circle mr-2"></span> Payment</strong>
  </div>



    <div class="card-body mt-1">
      
        <form  #paymentForm="ngForm" >
          <!-- (ngSubmit)="onSubmit()" -->
          <div>
            Your Ride has been successfully booked.
            Click below to generate fare. 
          </div>
          <!-- <div>
             <p>You have reached the destination.</p>
             <p>Payment due for the trip is: Rs. 509 </p>
          </div> -->
          <br>
          <div class="d-flex justify-content-center ">
            <button type="submit" (click)="getFareTrip()" class="btn btn-info"> Generate Payment</button>
          </div>

      <div [hidden]="hidden" >
        <h5 *ngFor= "let pay of paymentModel" {{pay.fare}} > </h5>  
      </div>


        </form >
      </div>
    </div>
