.card {
    border: none;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.4);
}

.nopadding {
    
    width:50%;
    padding: 0 !important;
    margin: 0 auto;
 }
 .table{
     margin-top: 10px;
     margin-left: 60px;
     width: 80% ;

 }

 .btn-space {
    margin-right: 5px;
}

 .h3{
    text-align: center;
 }

 .style {
    background: rgb(23, 202, 202);
    text-align: center;
    color:rgb(20, 196, 209);
}

#buttons{
    margin-left: 20px;
    margin-right: 20px;
}

.headerColumn{
    color: seashell ;
}

.riderName{
    color: seashell;
}

#submitButtonLast{
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
}

#textBox{
    text-align: center;
}