<div class="card nopadding mt-3 mb-4">
    <div class="card-header  bg-info text-center text-light">
        <strong>Welcome {{name}}</strong>
        <br>
    </div>

    <br>

    <div *ngIf='requestOptions' class="d-flex justify-content-center ">
        <button (click)="getRiderDetails()" class="btn btn-info">Show Ride Requests </button>
</div>

<br>

<div *ngIf='toShowRiderRequest'>
    <table class="table table-hover table-bordered table-dark">
        <thead class="text-white th">
          <tr class="headerColumn">
            <th>Rider Name</th>
            <th>Source</th>
            <th>Estimated Fare</th>
          </tr>
        </thead>
        <tbody>
          <tr class="riderName">
            <td>{{riderDetails["name"]}}</td>
            <td>{{riderDetails["source"]}}</td>
            <td>{{riderDetails["fare"]}}</td>
          </tr>
        </tbody>
      </table>
      <div id="buttons" class="btn-group btn-group-toggle d-flex justify-content-center">
        <button type="button" (click)="acceptRide()" class="btn btn-success"> Confirm </button>
        <br>
      <button type="button" (click)="rejectRide()" class="btn btn-danger"> Reject </button>
      </div>
      <br>
      
</div>
<div *ngIf='enterOTP'>
  <p id="textBox"> Enter OTP : <input type="text" > </p>
  <div class="d-flex justify-content-center">
    <button (click)="lastButton()" class="btn btn-success" id="submitButtonLast"> Submit </button>
  </div>
  
</div>

<div *ngIf='lastPage'>
  <p id="textBox"> Your ride has started </p>
  <div class="d-flex justify-content-center">
    <button (click)="endRideFinally()" id="submitButtonLast" class="btn btn-success">End Trip </button>
  </div>
 
</div>

</div>

